#subtopics li{
  list-style: none;
}

.pad12{
  padding-top:12px;
}

.tinyTopRight{
  position: absolute;
  right:1%;
  top: 0;
}

#subtopics li {
  margin-top: 5px;
}

.quizQuestionContainer h3 {
  margin-bottom: 20px;
}

.quizQuestionContainer button {
  margin-top: 10px;
}

.hide {
  opacity: 0;
  margin: 0;
  padding: 0;
  max-height: 0;
  max-width: 0;
}

.textAnswer {
  transition: all .3s;
}

.validateTextAnswer {
  margin-top: 15px;
  color: red;
}

.answerChoiceContainer {
  margin: 10px;
  margin-left: 0;
  transition: all .3s;
}

.answerChoiceContainer input,
.answerChoiceContainer label {
  cursor: pointer;
}

.answerChoiceContainer input {
  margin-right: 7px;
  display: none;
}

.answerChoiceContainer input[type=radio]:checked + label {
  background-color: rgba(0, 150, 200, .2);
}

.correctAnswer {
  background-color: rgba(0, 168, 0, .3);
}

.answerChoiceContainer label:hover,
.answerChoiceContainer label:focus {
  background-color: #eee;
}

.gradingMessage {
  position: absolute;
  top: -3rem;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  text-align: center;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: rgba(230, 230, 230, .7);
  color: green;
  border: 3px solid green;
  border-top: none;
  width: 200px;
  line-height: 2.5;
  font-size: 3rem;
  transition: all .4s;
}

#wrongMessage {
  color: red;
  border: 3px solid red;
  border-top: none;
}

.showMessage {
  top: 0;
  opacity: 1;
}

#resultsContainer {
  display: none;
}

#resultsContainer h4 {
  display: inline-block;
  width: 70px;
}
