<h1>Quiz</h1>

<div class="gradingMessage" id="correctMessage">Correct!</div>
<div class="gradingMessage" id="wrongMessage">Wrong</div>

<div class="quizQuestionContainer">
  <h3>{{questions[currentQuestion].questionText}}</h3>
  <input type="text" id="textAnswer" class="textAnswer form-control hide" ng-model="textAnswer" placeholder="Type your answer...">
  <div id="answersContainer">
    <div class="form-check answerChoiceContainer" ng-repeat="answerChoice in questions[currentQuestion].answerChoices">
      <input id="{{answerChoice}}" name="answerChoices" type="radio" value="{{answerChoice}}"></input>
      <label class="form-check-label form-control" for="{{answerChoice}}">{{answerChoice}}</label>
    </div>
  </div>
  <button id="checkAnswer" class="btn btn-primary" ng-click="checkAnswer()">Check Answer</button>
</div>

<div id="resultsContainer">
  <h3>Grade</h3>
  <h4>{{grade}}</h4>
  <h4>{{gradePercent}} %</h4>
</div>
